@import "~bootstrap/scss/bootstrap";

$primary-col: #fff;
$secondary-col: #EA2B1F;

html{
  
  /** ROOT **/
  .App{
    margin: 0 auto;
  
    .nav-bar {
      position: fixed;
      top: 0;
      width: 100%;
      
      ul {
        list-style-type: none;
        padding: 0;
  
        li {
          display: inline-block;
          padding-right: 40px;
        }
      }
    }
    
    .home-wrapper{

      .home-section {
        height: 100vh;
        width: 86%;
        display: flex;
        margin: 0 auto;
        
          .header-container {
            height: 100%;
            float: left;
            width: 50%;

            display: flex;
            flex-direction: column;
            justify-content: flex-end;

            color: #232020;

            h1 {
              margin-bottom: 20px;
              max-width: 700px;
            }

            h3 {
              font-size: 14px;
              margin-bottom: 10rem;
            }
          }

          .canvas-container {
            width: 50%;
            background-color: rgb(193, 193, 255);
          }

          @media sreen and (max-width: 900px) {
            flex-direction: column;
          }
      }

      .home-section::before {
        content: "";
        border-bottom: 4px solid black;
        z-index: 10;
        width: 86%;
        // top: 86%;
        height: 86%;
        position: absolute;

        @media screen and (min-height: 1000px) {
          height: 90%;
        }
      }
    }
    
    
    /** ABOUT CONTAINER **/
    .about-section {
      background-color: lightcoral;
      height: 100vh;
      width: 86%;
      margin: 0 auto;

      .about-wrapper {
        width: 100%;
        background-color: red;
        height: 100%;
        display: flex;

        .title-container {
          display: flex; 
          flex-direction: column;
          height: 100%;
          width: 50%;
          background-color: yellow;
          justify-content: space-between;

          .title-h {
            height: 33%;
          }
        }

        .blurb-container {
          display: flex;
          flex-direction: column;
          height: 100%;
          width: 50%;
          background-color: green;
          justify-content: space-between;

          .blurb-p {
            height: 33%;
          }
        }
      }
    }
    
    /** WORK CONTAINER **/
    .work-section {
      background-color: lightgreen;
      height: 100vh;
    }
    
    /** CONTACT CONTAINER **/
    .contact-section {
      background-color: lightseagreen;
      height: 100vh;
      margin-bottom: 0px;
    }
  
  }
}
