@import "~bootstrap/scss/bootstrap";

$primary-col: #fff;
$secondary-col: #EA2B1F;

html{
  
  /** ROOT **/
  .App{
    margin: 0 auto;
  
    .nav-bar {
      position: fixed;
      top: 0;
      width: 100%;
      
      ul {
        list-style-type: none;
        padding: 0;
  
        li {
          display: inline-block;
          padding-right: 40px;
        }
      }
    }
    
    .home-wrapper{
        /** HOME CONTAINER **/
      background-color: blue;

      .home-section {
        background-color: lightgoldenrodyellow;
        height: 100vh;
        width: 86%;
        display: flex;
        margin: 0 auto;
        
          .header-container {
            background-color: red;
            height: 100% !important;
            float: left;
            width: 50%;

            display: flex;
            flex-direction: column;
            justify-content: flex-end;

            color: #232020;

            h1 {
              margin-bottom: 20px;
              max-width: 700px;
              // margin-left: 70px;
            }

            h3 {
              font-size: 14px;
              margin-bottom: 10rem;
              // margin-left: 70px;
            }
          }

          .canvas-container {
            width: 50%;
            background-color: rgb(193, 193, 255);
          }

          @media sreen and (max-width: 900px) {
            flex-direction: column;
          }
      }

      .home-section::before {
        content: "";
        border-bottom: 4px solid black;
        z-index: 10;
        width: 86%;
        // top: 86%;
        height: 90vh;
        position: absolute;
      }
    }
    
    
    /** ABOUT CONTAINER **/
    .about-section {
      background-color: lightcoral;
      height: 100vh;
    }
    
    /** WORK CONTAINER **/
    .work-section {
      background-color: lightgreen;
      height: 100vh;
    }
    
    /** CONTACT CONTAINER **/
    .contact-section {
      background-color: lightseagreen;
      height: 100vh;
      margin-bottom: 0px;
    }
  
  }
}
